@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin btn ($bc: $red, $two-button: false) {

  border-radius: 3px;
  background-color: $bc;
  box-shadow: 0 2px  5px rgba(0, 0, 0, 0.25);
  border: 1px solid $bc;
  width: 225px;
  padding: 18px 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.14px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  transition-duration: 500ms;
  transition-property: background-color, border-color;
  @content;

  &:hover {
    background-color: darken($red, 10%);
    border-color: darken($red, 10%);
  }

  @if $two-button == true {

    &:first-child {
      margin-right: 25px;
    }

    &:last-child {
      background-color: transparent;
      border-color: $white;
    }

    &:hover {

      &:last-child {
        border-color: $red;
      }
    }
  }
}

@mixin divider($color-line: $divider-color) {

  display: block;
  width: 7px;
  margin: 20px auto;
  position: relative;

  p {
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $red;
    }
  }

  &::after, &::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: $color-line;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-1px);
  }

  &::before {
    left: -90px;
  }

  &::after {
    right: -90px;
  }
}