.service {
  background-color: $service-bg;
  max-width: 1920px;
  margin: 140px auto;
  padding: 150px;
  position: relative;

  &::after {
    content: "";
    width: 46%;
    height: 100%;
    background: url("../../img/services-bg.jpg") top right no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .service__block {
    width: 54%;
    text-align: right;
  }

  .service__title {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: $white-grey;
    padding-right: 25px;
    margin-right: 80px;
    margin-bottom: 30px;
    border-right: 6px solid $red;
  }

  .service__element {
    max-width: 655px;
    margin: 55px 80px 55px auto;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      font-family: "Source Sans Pro";
      font-size: 14px;
      line-height: 29px;
      color: $advantages-grey;

      &:first-of-type {
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 29px;
        color: $red;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    .service__icon {
      position: absolute;
      width: 64px;
      height: 64px;
      border: 5px solid rgba(0, 0, 0, 0.15);
      transform: translate(0, -50%);
      right: -120px;
      top: 50%;
      z-index: 1;
      background: $white-grey;
      border-radius: 50%;

      img, svg {
        position: absolute;
        fill: $red;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .service__img {
      width: 27px;
      height: 27px;
    }

    .service__img2 {
      width: 35px;
      height: 29px;
    }

    .service__img3 {
      width: 35px;
      height: 30px;
    }

  }
}

@media (max-width: 980px) {
  .service {
    margin: 50px 0;
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .service {
    padding-right: 15px;
    padding-left: 15px;

    &::after {
      display: none;
    }

    .service__block {
      width: 100%;
      text-align: left;
    }

    .service__title {
      padding-right: 0;
      padding-left: 25px;
      border-right: none;
      border-left: 6px solid $red;
    }

    .service__element {
      max-width: 100%;
      margin: 25px 0;
      padding-right: 80px;
      box-sizing: border-box;

      .service__icon{
        right: 0;
      }
    }
  }
}
